<% title @course.name %>

<% if permitted_to? :show, @course %>
	<% menu link_to(t('calendar'), calendar_path(:course_id => @course)) %>
<% end %>

<% if permitted_to? :edit, @course %>
	<% menu link_to(t('participants'), participants_path(:course_id => @course.id)) %>
<% end %>
<% if permitted_to? :edit, @course %>
 	<% menu link_to(t('edit'), course_other_path(@course, :action => 'edit')) %>
<% end %>
<% if permitted_to? :destroy, @course %>
 	<% menu link_to(t('destroy'), course_other_path(:action => 'destroy'), :confirm => t('a_u_s'), :method => :delete) %>
<% end %>
<% if permitted_to? :edit, @course %>
	<% menu link_to(t('new_material'), material_new_path(:course_id => @course)) %>
<% end %>
<% if permitted_to? :edit, @course %>
	<% menu link_to(t('new_test'), test_new_path(:course_id => @course)) %>
<% end %>
<% if permitted_to? :edit, @course %>
	<% menu link_to(t('new_event'), event_new_path(:course_id => @course)) %>
<% end %>
<p style="clear: both;"></p>
<div class="left-column">
	<p class="delimiter"><span><%= t 'materials' %></span></p>
	<ul>
      <% @materials.each do |material| %>
          <li>
            <h2 class="parent-title"><%= link_to material.name, material_view_path(:course_id => @course, :id => material) %></h2>
          </li>
      <% end %>
    </ul>
    
    <p class="delimiter"><span><%= t 'tests' %></span></p>
    <ul>
      <% @tests.each do |test| %>
          <li>
            <h2 class="parent-title"><%= link_to test.name, test_view_path(:course_id => @course, :id => test) %></h2>
          </li>
      <% end %>
    </ul>
</div>

<div class="main-column">
	<p class="delimiter"><span><%= t 'news' %></span></p>
	
	<% if permitted_to? :edit, @course %>
          <% menu link_to_function(t('new_news'), "$('controls-menu').hide(); Effect.toggle('new_news_form', 'appear')") %>
          <% form_remote_for News.new, :html => {:id => 'new_news_form', :style => 'display: none;', :class => 'new-news'}, :url => news_create_path(:course_id => @course) do |fn| %>
              <p class="input-form">
                <%= fn.label t('content') + ": " %>
                <%= fn.text_area :content, :class => 'new-news-content' %>
              </p>

              <p>
                <%= fn.submit t('submit') %>
              </p>
          <% end %>
      <% end %>
      
      <ul id="news">
      	<%= render :partial => 'news/news', :collection => @news %>
      </ul>

</div>