<% title @course.name %>
<% if permitted_to? :edit, @course %>
    <% nav icon_link(t('participants'), participants_path(:course_id => @course), 'participants') %>
    <% nav icon_link(t('edit'), course_other_path(:action => 'edit'), 'edit') %>
<% end %>
<% if permitted_to? :destroy, @course %>
    <% nav icon_link(t('destroy'), course_other_path(:action => 'destroy'), 'destroy', t('a_u_s')) %>
<% end %>
<% if permitted_to? :edit, @course %>
    <% nav icon_link(t('new_material'), material_new_path(:course_id => @course), 'new') %>
    <% nav icon_link(t('new_test'), test_new_path(:course_id => @course), 'new') %>
    <% nav icon_link(t('new_event'), event_new_path(:course_id => @course), 'new') %>
    <% nav link_to_function("<span>" + t('new_news') + "</span>", "$('controls-menu').hide(); Effect.toggle('new_news_form', 'appear')", :class => 'icon-link icon-sprite-new') %>
<% end %>
<% if permitted_to? :show, @course %>
    <% nav icon_link(t('calendar'), calendar_path(:course_id => @course), 'calendar') %>
<% end %>

<div class="left-column">
	<p class="delimiter"><span><%= t 'materials' %></span></p>
	<ul>
      <% @materials.each do |material| %>
          <li>
            <h2 class="parent-title"><%= link_to material.name, material_view_path(:course_id => @course, :id => material) %></h2>
          </li>
      <% end %>
    </ul>
    
    <p class="delimiter"><span><%= t 'tests' %></span></p>
    <ul>
      <% @tests.each do |test| %>
          <li>
            <h2 class="parent-title"><%= link_to test.name, test_view_path(:course_id => @course, :id => test) %></h2>
          </li>
      <% end %>
    </ul>
</div>

<div class="main-column">
	<p class="delimiter"><span><%= t 'news' %></span></p>
	
	<% if permitted_to? :edit, @course %>
          <% form_remote_for News.new, :html => {:id => 'new_news_form', :style => 'display: none;', :class => 'new-news'}, :url => news_create_path(:course_id => @course) do |fn| %>
              <p class="input-form">
                <%= fn.label t('content') + ": " %>
                <%= fn.text_area :content, :class => 'new-news-content' %>
              </p>

              <p>
                <%= fn.submit t('submit') %>
              </p>
          <% end %>
      <% end %>
      
      <ul id="news">
      	<%= render :partial => 'news/news', :collection => @news %>
      </ul>

</div>