<% title @test.name %>
<% if permitted_to? :edit, @test %>
    <% menu link_to(t('edit'), test_other_path(:action => 'edit')) %>
<% end %>
<% if permitted_to? :destroy, @test %>
    <% menu link_to(t('destroy'), test_other_path(:action => 'destroy'), :confirm => t('a_u_s'), :method => :delete) %>
<% end %>
<% if permitted_to? :doit, @test %>
    <% menu link_to(t('doit'), test_other_path(:action => 'doit')) %>
<% end %>

<% if @vls.length > 0 %>
    <div class="title-info">
      <%= t('your_result') %> <span><%= @vls.last.result %>%</span>
    </div>
<% end %>

<div class="content">
  <%= textile @test.description %>
</div>

<% if @vls.length > 0 %>
    <p class="delimiter"><span><%= t('results') %></span></p>

    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {packages:['table']});
        google.setOnLoadCallback(drawTable);
        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', '<%= t('username') %>');
            data.addColumn('number', '<%= t('result') %>');
        <% @test.questions.each_with_index do |question, y| %>
            data.addColumn('number', '<%= y + 1 %>');
        <% end %>
            data.addRows(<%= @vls.length %>);
        <% @vls.each_with_index do |result, i| %>
            data.setCell(<%= i %>, 0, '<%= result.user.username %>');
            data.setCell(<%= i %>, 1, <%= result.result %>, '<%= result.result %>%');
        <% @test.questions.each_with_index do |question, y| %>
        <% number_of_answers = result.answers["#{question.id}"].length %>
        <% if result.answers["#{question.id}"] != nil and result.answers["#{question.id}"][number_of_answers - 1][:service] == "1" and question.number_of_correct_answers >= number_of_answers - 1 and number_of_answers - 1 > 0 %>
        <% correct = (question.correct_answers & result.answers["#{question.id}"][0..(number_of_answers - 2)].collect(&:to_i)).length %>
        <% if question.kind == 1 %>
        <% points = correct * 2 %>
        <% max = 2 %>
        <% else %>
        <% points = correct %>
        <% max = question.number_of_correct_answers %>
        <% end %>
            data.setCell(<%= i %>, <%= y + 2 %>, <%= points %>, '<%= points %> <%= t('from') %> <%= max %>');
        <% end %>
        <% end %>
        <% end %>

            var table = new google.visualization.Table(document.getElementById('table'));
            table.draw(data);
        }
    </script>
    <div id="table"></div>
<% end %>