<% title @test.name %>
<% if permitted_to? :edit, @test %>
    <% nav icon_link(t('edit'), test_other_path(:action => 'edit'), 'edit') %>
<% end %>
<% if permitted_to? :destroy, @test %>
    <% nav icon_link(t('destroy'), test_other_path(:action => 'destroy'), 'destroy', t('a_u_s')) %>
<% end %>
<% if permitted_to? :doit, @test %>
    <% nav icon_link(t('doit'), test_other_path(:action => 'doit'), 'doit') %>
<% end %>

<% if @results.length > 0 %>
    <div class="title-info">
      <%= t('your_result') %> <span><%= @results.last.result %>%</span>
    </div>
<% end %>

<div class="content">
  <%= textile @test.description %>
</div>

<% if @results.length > 0 %>
    <p class="delimiter"><span><%= t('results') %></span></p>

    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {packages:['table']});
        google.setOnLoadCallback(drawTable);
        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', '<%= t('username') %>');
            data.addColumn('number', '<%= t('result') %>');
        <% @test.questions.each_with_index do |question, y| %>
            data.addColumn('number', '<%= y + 1 %>');
        <% end %>
            data.addRows(<%= @results.length %>);
        <% @results.each_with_index do |result, i| %>
                data.setCell(<%= i %>, 0, '<%= result.user.username %>');
                data.setCell(<%= i %>, 1, <%= result.result %>, '<%= result.result %>%');
            
                <% @test.questions.each_with_index do |question, y|
                answers = result.answers["#{question.id}"]
                number_of_answers = answers.length
                if !answers.nil? and answers.last[:service] == "1" and (1..(question.number_of_correct_answers)).include?(number_of_answers - 1)
                    correct = (question.correct_answers.collect(&:id) & answers[0..(number_of_answers - 2)].collect(&:to_i)).length
                    if question.kind == 1
                        points = correct * 2
                        max = 2
                    else
                        points = correct
                        max = question.number_of_correct_answers
                    end %>
                    data.setCell(<%= i %>, <%= y + 2 %>, <%= points %>, '<%= points %> <%= t('from') %> <%= max %>');
        <%      end
            end
        end %>

            var table = new google.visualization.Table(document.getElementById('table'));
            table.draw(data);
        }
    </script>
    <div id="table"></div>
<% end %>