<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <title><%= h(yield(:title) || t('home')) %> - ESE</title>
  <%= stylesheet_link_merged :base %>
  <%= javascript_include_merged :base %>

  <%= yield(:head) %>
  <meta name="description" content="<%= yield(:description) || "Description" %>"/>
  <meta name="keywords" content="<%= yield(:keywords) || "Keywords" %>"/>
  <%#GMap.header %>
  
</head>
<body>
<div id="container">
  <div id="header">
    <div id="crumbs">
      <%= crumbs %>
    </div>
    <div id="controls">
    	<%= link_to_function "", "$(\"controls-menu\").toggle()", :id => 'controls-arrow' %>
    	<div id="controls-menu" style="display: none;">
    		<ul>
    			<% unless yield(:menu).nil? %>
    				<% yield(:menu).each do |item| %>
    					<li><strong><%= item %></strong></li>
    				<% end %>
    			<% end %>
    			<% if logged_in? %>
          			<li><%= t('logged_in_as') %> <strong><%= h current_user.username %></strong></li>
         			<% if permitted_to? :edit, current_user %>
              			<li><%= link_to t('roles'), roles_path %></li>
          			<% end %>
          			<li><%= link_to t('logout'), logout_path %></li>
      			<% else %>
         			<li><%= link_to t('signup'), signup_path %></li>
          			<li><%= link_to t('login'), login_path %></li>
      			<% end %>
    		</ul>
    	</div>
    </div>
  </div>
  <div id="flashes">
    <% if flash[:notice].nil? %>
        <%= content_tag :div, flash[:notice], :id => "flash_notice", :style => "display: none;" %>
    <% else %>
        <%= content_tag :div, flash[:notice], :id => "flash_notice" %>
    <% end %>
    <% if flash[:error].nil? %>
        <%= content_tag :div, flash[:error], :id => "flash_error", :style => "display: none;" %>
    <% else %>
        <%= content_tag :div, flash[:error], :id => "flash_error" %>
    <% end %>
  </div>
  
  <script type="text/javascript">
  	Event.observe('flash_notice', 'click', function() {
    	$('flash_notice').fade();
	});
	Event.observe('flash_error', 'click', function() {
    	$('flash_error').fade();
	});
  </script>
  
  <div id="inner">

  <% if show_title? %>
      <h1><%= h yield(:title) %></h1>
  <% end %>

  <% unless yield(:nav).nil? %>
        <div class="more-links-container">
            <div class="more-links">
    		    <% yield(:nav).each do |item| %>
    			    <%= item %>
    			<% end %>
            </div>
        </div>
        <p style="clear: both;"></p>
  <% end %>

  <%= yield %>
</div>
</div>
</body>
</html>
